*{
    margin: 0;
    padding: 0;
}
nav{
    height: 5rem;
}

.big-title{
    width:100%;
    height: 150px;
    background-image: linear-gradient(to right, rgb(26,154,101), rgb(252,215,11));
    color: white;
}
.bodi{
    width:100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
    padding: 1rem;
}
.bodi form{
    width:60%;
}